@media screen and (max-width: 420px){
    .content{
        padding: 0 5px 0 5px;
    }
    .header{
        padding: 7px 5px 10px 5px;
    }
    .aside{
        position: fixed;
        width: 50%;
        z-index: 2;
        padding: 20px;
        background: rgba(0, 0, 0);
        border-radius: 0 0 20px 0;
        transform: translateX(-110%);
        height: 100%;
        transition: transform 0.5s;
        overflow-y: scroll;
        padding-bottom: 90px;
    }
    .i-header__content{
        text-align: center;
    }
} 

.aside:target{
    transform: translateX(0);
    top: 64px;
}

.aside:target body{
    overflow-y: hidden;
}

.info__chewrone{
    position: fixed;
    background: #000000b3;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    top: 70px;
}

.i-chewrone__link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}
