*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #000000;
    color: #fff ;
}

.content{
    max-width: 1440px;
    padding: 0 26px 0 26px;
    margin: 0 auto;
}
