.header, .header__menu-w{
    display: flex;
}

.header{
    max-width: 1440px; 
    width: 100%;
    z-index: 2;
    background: black;
    margin: auto;
    justify-content: space-between;
    padding: 7px 48px 10px 26px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header__ligo-w, .header__menu, .header__menu-w{
    display: flex;
    align-items: center;
}

.header__logo{
    cursor: pointer;
}

.header__menu{
    padding: 5px 9px 6px 10px;
    border: 0.5px solid #FFFFFF;
    border-radius: 5px;
    gap: 8px;
    cursor: pointer;
}

.header__menu-w{
    gap: 28.65px;
}

.fa-bell{
    cursor: pointer;
}

.header__avatar{
    border-radius: 50%;
    padding: 1.36px;
    border: 1px solid #FFFFFF;
}
